<main class="main-section">
  <div class="container">
    <!-- Exercise header -->
    <div class="filter-header">
      <!-- Filter Navigation -->
      <div class="filter-path">
        <h2 class="filter-path-start">Exercises</h2>
        <span class="filter-path-part"></span>
      </div>

      <div class="filter-wrapper">
        <!-- Search -->
        <load src="partials/search.html" />

        <!-- Filters -->
        <ul class="filters-list">
          <li class="filters-item active" data-filter="Muscles">Muscles</li>
          <li class="filters-item" data-filter="Body parts">Body parts</li>
          <li class="filters-item" data-filter="Equipment">Equipment</li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <!-- Filters list-->
      <section class="main-cards">
        <!-- Category Cards--->
        <ul class="category-list"></ul>
        <!-- Exercise Cards--->
        <ul class="exercise-list"></ul>
        <!-- Pagination -->
        <load src="partials/pagination.html" />
      </section>
      <!-- Side bar -->
      <section class="sidebar">
        <h3>quote of day(TODO: past here Sidebar)</h3>
        <h3>some image(TODO: past here Sidebar)</h3>
        <h3>why the sport is important(TODO: past here Sidebar)</h3>
      </section>
    </div>
  </div>
</main>
